<div class="toggle-container">
  <p>Press a book number to see its corresponding {{ include.subject }}.</p>
  <div class="button-div">
    <input type="radio" id="{{ include.value }}_first" name="{{ include.value }}_switch" value="1" checked="checked" onclick="toggleBook('{{ include.url_book1 }}')"/>
    <label for="{{ include.value }}_first">Book 1</label>
    <input type="radio" id="{{ include.value }}_second" name="{{ include.value }}_switch" value="2" onclick="toggleBook('{{ include.url_book2 }}')"/>
    <label for="{{ include.value }}_second">Book 2</label>
    <input type="radio" id="{{ include.value }}_third" name="{{ include.value }}_switch" value="3" onclick="toggleBook('{{ include.url_book3 }}')"/> 
    <label for="{{ include.value }}_third">Book 3</label>
    <input type="radio" id="{{ include.value }}_fourth" name="{{ include.value }}_switch" value="4" onclick="toggleBook('{{ include.url_book4 }}')"/>
    <label for="{{ include.value }}_fourth">Book 4</label> 
    <input type="radio" id="{{ include.value }}_fifth" name="{{ include.value }}_switch" value="5" onclick="toggleBook('{{ include.url_book5 }}')"/>
    <label for="{{ include.value }}_fifth">Book 5</label>
    <input type="radio" id="{{ include.value }}_sixth" name="{{ include.value }}_switch" value="6 House" onclick="toggleBook('{{ include.url_book6 }}')"/>
    <label for="{{ include.value }}_sixth">Book 6</label>
    <input type="radio" id="{{ include.value }}_seventh" name="{{ include.value }}_switch" value="6 House" onclick="toggleBook('{{ include.url_book7 }}')"/>
    <label for="{{ include.value }}_seventh">Book 7</label>
    
    <script>
	function toggleBook(location) {
	  console.log("changing to file at" + location);
	  var image = document.getElementById('{{ include.value }}_img')
	  image.src = location;
	}
    </script>

    <img id="{{ include.value }}_img" src="{{ include.url_book1 }}" alt="img: {{ include.description }}" width="{{ include.width }}" height="{{ include.height }}">
  </div>
</div>
