 <!-- Slideshow container -->
<div class="ss-container">
 <div class="slideshow-container">

   <!-- Full-width images with number and caption text -->
   <div class="mySlidesSpell">
     <div class="numbertext">1 / 7</div>
     <img src="{{ include.book1 }}" style="width:100%">
   </div>

   <div class="mySlidesSpell">
     <div class="numbertext">2 / 7</div>
     <img src="{{ include.book2 }}" style="width:100%">
   </div>

   <div class="mySlidesSpell">
     <div class="numbertext">3 / 7</div>
     <img src="{{ include.book3 }}" style="width:100%">
   </div>
   <div class="mySlidesSpell">
     <div class="numbertext">4 / 7</div>
     <img src="{{ include.book4 }}" style="width:100%">
   </div>

   <div class="mySlidesSpell">
     <div class="numbertext">5 / 7</div>
     <img src="{{ include.book5 }}" style="width:100%">
   </div>

   <div class="mySlidesSpell">
     <div class="numbertext">6 / 7</div>
     <img src="{{ include.book6 }}" style="width:100%">
   </div>

   <div class="mySlidesSpell">
     <div class="numbertext">7 / 7</div>
     <img src="{{ include.book7 }}" style="width:100%">
   </div>

   <!-- Next and previous buttons -->
   <a class="prev" onclick="plusSlidesSpell(-1)">&#10094;</a>
   <a class="next" onclick="plusSlidesSpell(1)">&#10095;</a>
 </div>
 <br>

 <!-- The dots/circles -->
 <div style="text-align:center">
   <span class="dotSpell" onclick="currentSlideSpell(1)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(2)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(3)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(4)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(5)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(6)"></span>
   <span class="dotSpell" onclick="currentSlideSpell(7)"></span>
 </div> 
</div>

<script>
var slideIndexSpell = 1;
showSlidesSpell(slideIndexSpell);

// Next/previous controls
function plusSlidesSpell(n) {
  showSlidesSpell(slideIndexSpell += n);
}

// Thumbnail image controls
function currentSlideSpell(n) {
  showSlidesSpell(slideIndexSpell = n);
}

function showSlidesSpell(n) {
  var i;
  var slidesSpell = document.getElementsByClassName("mySlidesSpell");
  var dotsSpell = document.getElementsByClassName("dotSpell");
  if (n > slidesSpell.length) {slideIndexSpell = 1}
  if (n < 1) {slideIndexSpell = slidesSpell.length}
  for (i = 0; i < slidesSpell.length; i++) {
      slidesSpell[i].style.display = "none";
  }
  for (i = 0; i < dotsSpell.length; i++) {
      dotsSpell[i].className = dotsSpell[i].className.replace(" active", "");
  }
  slidesSpell[slideIndexSpell-1].style.display = "block";
  dotsSpell[slideIndexSpell-1].className += " active";
}
</script>
